body{
    
    backgnound-color:pink;(233, 240, 240,0,788)
    font-family:playwrite deutschland grundschrift guides;
    
}
    header{
        font-size:50pk;
        text-align:center;
        background-color: rgba(255, 20, 145, 0.801);
        color: black;
        border:dotted;
        .top1{
         text-align:center  
        background-color:pink;
        color: black; 
        padding-bottom: 40px;
        }
    }
}